
.show_room_container {
  width: 100%;
  padding: 30px 70px;
}
.show_room_title {
  font-size: 24px;
  margin-bottom: 10px;
}

.show_room_table {
  width: 100%;
}
tr {
  border-top: 2px solid #eaedef;
  /* background: #eaedef; */
}
.show_room_table_head th {
  padding: 10px 30px;
  border-top: 2px solid #eaedef;
  border-bottom: solid 2px #eaedef;

}
.show_room_table_body td {
  padding: 5px 10px;
  border-bottom: 1px solid #eaedef;
}
.show_room_table_body a {
  font-weight: bold;
  color: #4a90e2;
}

.show_room_table img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}